USE [CREATOR_SERVICE]
GO
/****** Object:  Table [dbo].[CREATOR_APPLICATION]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREATOR_APPLICATION](
	[APPLICATIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [bigint] NOT NULL,
	[STATUS] [nvarchar](30) NOT NULL,
	[DISPLAYNAMEPREF] [nvarchar](100) NULL,
	[BIODRAFT] [nvarchar](2000) NULL,
	[MOTIVATION] [nvarchar](2000) NULL,
	[SAMPLEOUTLINE] [nvarchar](max) NULL,
	[PORTFOLIOLINKS] [nvarchar](2000) NULL,
	[AGREEMENTACCEPTED] [bit] NOT NULL,
	[AUTOELIGIBILITYJSON] [nvarchar](max) NULL,
	[REVIEWEDBYUSERID] [bigint] NULL,
	[REVIEWEDAT] [datetime2](7) NULL,
	[REVIEWNOTE] [nvarchar](2000) NULL,
	[REJECTIONREASON] [nvarchar](2000) NULL,
	[SUBMITTEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_CREATOR_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[APPLICATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREATOR_PROFILE]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREATOR_PROFILE](
	[USERID] [bigint] NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[BIO] [nvarchar](2000) NULL,
	[EXPERTISETAGS] [nvarchar](500) NULL,
	[PUBLICEMAIL] [nvarchar](150) NULL,
	[AVATARFILEUUID] [nvarchar](100) NULL,
	[COVERFILEUUID] [nvarchar](100) NULL,
	[WEBSITEURL] [nvarchar](500) NULL,
	[ISVERIFIEDBADGE] [bit] NOT NULL,
	[PROFILESTATUS] [nvarchar](20) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_CREATOR_PROFILE] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_CONTENT_REPORT]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_CONTENT_REPORT](
	[REPORTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[REPORTEDBYUSERID] [bigint] NOT NULL,
	[REASONCODE] [nvarchar](50) NOT NULL,
	[DETAIL] [nvarchar](2000) NULL,
	[REPORTSTATUS] [nvarchar](20) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[RESOLVEDDATE] [datetime2](7) NULL,
	[RESOLVEDBYUSERID] [bigint] NULL,
 CONSTRAINT [PK_PLAN_CONTENT_REPORT] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN](
	[PLANID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATORUSERID] [bigint] NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[SHORTDESCRIPTION] [nvarchar](500) NULL,
	[FULLDESCRIPTION] [nvarchar](max) NULL,
	[DURATIONDAYS] [int] NOT NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[DIFFICULTY] [nvarchar](20) NULL,
	[THEMECOLORHEX] [nvarchar](20) NULL,
	[COVERFILEUUID] [nvarchar](100) NULL,
	[BANNERFILEUUID] [nvarchar](100) NULL,
	[PLANICONEMOJI] [nvarchar](50) NULL,
	[PLANSTATUS] [nvarchar](20) NOT NULL,
	[CURRENTVERSIONNO] [int] NOT NULL,
	[PUBLISHEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_STUDY_PLAN] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_CATALOG_ROLLUP]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_CATALOG_ROLLUP](
	[PLANID] [bigint] NOT NULL,
	[PLANVERSION] [int] NOT NULL,
	[AVGRATING] [decimal](3, 2) NULL,
	[REVIEWCOUNT] [int] NULL,
	[ENROLLCOUNT] [int] NULL,
	[COMPLETIONPERCENT] [decimal](5, 2) NULL,
	[ISACTIVE] [bit] NOT NULL,
	[LASTINDEXEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_STUDY_PLAN_CATALOG_ROLLUP] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC,
	[PLANVERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_DAY]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_DAY](
	[DAYID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[PLANVERSION] [int] NOT NULL,
	[DAYNUMBER] [int] NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[NOTES] [nvarchar](2000) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_STUDY_PLAN_DAY] PRIMARY KEY CLUSTERED 
(
	[DAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_STUDY_PLAN_DAY] UNIQUE NONCLUSTERED 
(
	[PLANID] ASC,
	[PLANVERSION] ASC,
	[DAYNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_IMPORT_JOB]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_IMPORT_JOB](
	[JOBID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[CREATORUSERID] [bigint] NOT NULL,
	[JOBSTATUS] [nvarchar](20) NOT NULL,
	[INPUTFILEUUID] [nvarchar](100) NULL,
	[TOTALROWS] [int] NULL,
	[SUCCESSROWS] [int] NULL,
	[FAILROWS] [int] NULL,
	[RESULTJSON] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[COMPLETEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_STUDY_PLAN_IMPORT_JOB] PRIMARY KEY CLUSTERED 
(
	[JOBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_SLOT]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_SLOT](
	[SLOTID] [bigint] IDENTITY(1,1) NOT NULL,
	[DAYID] [bigint] NOT NULL,
	[PLANVERSION] [int] NOT NULL,
	[SLOTTYPE] [nvarchar](30) NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[ESTIMATEDMINUTES] [int] NULL,
	[SORTORDER] [int] NOT NULL,
	[TOPICID] [int] NULL,
	[CONTENTID] [int] NULL,
	[CONTENTFILEUUID] [nvarchar](100) NULL,
	[EXTERNALURL] [nvarchar](2000) NULL,
	[QUIZJSON] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_STUDY_PLAN_SLOT] PRIMARY KEY CLUSTERED 
(
	[SLOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_TAG]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_TAG](
	[PLANID] [bigint] NOT NULL,
	[TAG] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_STUDY_PLAN_TAG] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC,
	[TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY_PLAN_VERSION]    Script Date: 17-07-2026 13:14:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_PLAN_VERSION](
	[VERSIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLANID] [bigint] NOT NULL,
	[VERSIONNO] [int] NOT NULL,
	[CHANGENOTES] [nvarchar](2000) NULL,
	[PUBLISHEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_STUDY_PLAN_VERSION] PRIMARY KEY CLUSTERED 
(
	[VERSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_STUDY_PLAN_VERSION] UNIQUE NONCLUSTERED 
(
	[PLANID] ASC,
	[VERSIONNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CREATOR_APPLICATION] ADD  CONSTRAINT [DF_CREATOR_APP_AGREE]  DEFAULT ((0)) FOR [AGREEMENTACCEPTED]
GO
ALTER TABLE [dbo].[CREATOR_APPLICATION] ADD  CONSTRAINT [DF_CREATOR_APP_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[CREATOR_APPLICATION] ADD  CONSTRAINT [DF_CREATOR_APP_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[CREATOR_PROFILE] ADD  CONSTRAINT [DF_CREATOR_PROF_VRF]  DEFAULT ((0)) FOR [ISVERIFIEDBADGE]
GO
ALTER TABLE [dbo].[CREATOR_PROFILE] ADD  CONSTRAINT [DF_CREATOR_PROF_STATUS]  DEFAULT (N'ACTIVE') FOR [PROFILESTATUS]
GO
ALTER TABLE [dbo].[CREATOR_PROFILE] ADD  CONSTRAINT [DF_CREATOR_PROF_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] ADD  CONSTRAINT [DF_PLAN_REPORT_STATUS]  DEFAULT (N'OPEN') FOR [REPORTSTATUS]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] ADD  CONSTRAINT [DF_PLAN_REPORT_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[STUDY_PLAN] ADD  CONSTRAINT [DF_STUDY_PLAN_STATUS]  DEFAULT (N'DRAFT') FOR [PLANSTATUS]
GO
ALTER TABLE [dbo].[STUDY_PLAN] ADD  CONSTRAINT [DF_STUDY_PLAN_VER]  DEFAULT ((1)) FOR [CURRENTVERSIONNO]
GO
ALTER TABLE [dbo].[STUDY_PLAN] ADD  CONSTRAINT [DF_STUDY_PLAN_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[STUDY_PLAN_CATALOG_ROLLUP] ADD  CONSTRAINT [DF_ROLLUP_ACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[STUDY_PLAN_DAY] ADD  CONSTRAINT [DF_STUDY_PLAN_DAY_VER]  DEFAULT ((1)) FOR [PLANVERSION]
GO
ALTER TABLE [dbo].[STUDY_PLAN_DAY] ADD  CONSTRAINT [DF_STUDY_PLAN_DAY_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB] ADD  CONSTRAINT [DF_IMPORT_JOB_STATUS]  DEFAULT (N'QUEUED') FOR [JOBSTATUS]
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB] ADD  CONSTRAINT [DF_IMPORT_JOB_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT] ADD  CONSTRAINT [DF_STUDY_PLAN_SLOT_VER]  DEFAULT ((1)) FOR [PLANVERSION]
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT] ADD  CONSTRAINT [DF_STUDY_PLAN_SLOT_SORT]  DEFAULT ((0)) FOR [SORTORDER]
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT] ADD  CONSTRAINT [DF_STUDY_PLAN_SLOT_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[STUDY_PLAN_VERSION] ADD  CONSTRAINT [DF_STUDY_PLAN_VERSION_CD]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_REPORT_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] CHECK CONSTRAINT [FK_PLAN_REPORT_PLAN]
GO
ALTER TABLE [dbo].[STUDY_PLAN_CATALOG_ROLLUP]  WITH CHECK ADD  CONSTRAINT [FK_ROLLUP_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_CATALOG_ROLLUP] CHECK CONSTRAINT [FK_ROLLUP_PLAN]
GO
ALTER TABLE [dbo].[STUDY_PLAN_DAY]  WITH CHECK ADD  CONSTRAINT [FK_STUDY_PLAN_DAY_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_DAY] CHECK CONSTRAINT [FK_STUDY_PLAN_DAY_PLAN]
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_JOB_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB] CHECK CONSTRAINT [FK_IMPORT_JOB_PLAN]
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT]  WITH CHECK ADD  CONSTRAINT [FK_STUDY_PLAN_SLOT_DAY] FOREIGN KEY([DAYID])
REFERENCES [dbo].[STUDY_PLAN_DAY] ([DAYID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT] CHECK CONSTRAINT [FK_STUDY_PLAN_SLOT_DAY]
GO
ALTER TABLE [dbo].[STUDY_PLAN_TAG]  WITH CHECK ADD  CONSTRAINT [FK_STUDY_PLAN_TAG_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_TAG] CHECK CONSTRAINT [FK_STUDY_PLAN_TAG_PLAN]
GO
ALTER TABLE [dbo].[STUDY_PLAN_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_STUDY_PLAN_VERSION_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[STUDY_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[STUDY_PLAN_VERSION] CHECK CONSTRAINT [FK_STUDY_PLAN_VERSION_PLAN]
GO
ALTER TABLE [dbo].[CREATOR_APPLICATION]  WITH CHECK ADD  CONSTRAINT [CHK_CREATOR_APP_STATUS] CHECK  (([STATUS]=N'WITHDRAWN' OR [STATUS]=N'REJECTED' OR [STATUS]=N'APPROVED' OR [STATUS]=N'REQUEST_INFO' OR [STATUS]=N'UNDER_REVIEW' OR [STATUS]=N'SUBMITTED' OR [STATUS]=N'DRAFT'))
GO
ALTER TABLE [dbo].[CREATOR_APPLICATION] CHECK CONSTRAINT [CHK_CREATOR_APP_STATUS]
GO
ALTER TABLE [dbo].[CREATOR_PROFILE]  WITH CHECK ADD  CONSTRAINT [CHK_CREATOR_PROFILE_PS] CHECK  (([PROFILESTATUS]=N'SUSPENDED' OR [PROFILESTATUS]=N'HIDDEN' OR [PROFILESTATUS]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[CREATOR_PROFILE] CHECK CONSTRAINT [CHK_CREATOR_PROFILE_PS]
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT]  WITH CHECK ADD  CONSTRAINT [CHK_PLAN_REPORT_STATUS] CHECK  (([REPORTSTATUS]=N'DISMISSED' OR [REPORTSTATUS]=N'RESOLVED' OR [REPORTSTATUS]=N'TRIAGING' OR [REPORTSTATUS]=N'OPEN'))
GO
ALTER TABLE [dbo].[PLAN_CONTENT_REPORT] CHECK CONSTRAINT [CHK_PLAN_REPORT_STATUS]
GO
ALTER TABLE [dbo].[STUDY_PLAN]  WITH CHECK ADD  CONSTRAINT [CHK_STUDY_PLAN_DIFF] CHECK  (([DIFFICULTY]=N'ADVANCED' OR [DIFFICULTY]=N'INTERMEDIATE' OR [DIFFICULTY]=N'BEGINNER'))
GO
ALTER TABLE [dbo].[STUDY_PLAN] CHECK CONSTRAINT [CHK_STUDY_PLAN_DIFF]
GO
ALTER TABLE [dbo].[STUDY_PLAN]  WITH CHECK ADD  CONSTRAINT [CHK_STUDY_PLAN_STATUS] CHECK  (([PLANSTATUS]=N'UNLISTED' OR [PLANSTATUS]=N'SUSPENDED' OR [PLANSTATUS]=N'ARCHIVED' OR [PLANSTATUS]=N'PUBLISHED' OR [PLANSTATUS]=N'READY_FOR_REVIEW' OR [PLANSTATUS]=N'DRAFT'))
GO
ALTER TABLE [dbo].[STUDY_PLAN] CHECK CONSTRAINT [CHK_STUDY_PLAN_STATUS]
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB]  WITH CHECK ADD  CONSTRAINT [CHK_IMPORT_JOB_STATUS] CHECK  (([JOBSTATUS]=N'PARTIAL' OR [JOBSTATUS]=N'FAILED' OR [JOBSTATUS]=N'SUCCEEDED' OR [JOBSTATUS]=N'PROCESSING' OR [JOBSTATUS]=N'QUEUED'))
GO
ALTER TABLE [dbo].[STUDY_PLAN_IMPORT_JOB] CHECK CONSTRAINT [CHK_IMPORT_JOB_STATUS]
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT]  WITH CHECK ADD  CONSTRAINT [CHK_STUDY_PLAN_SLOT_TYPE] CHECK  (([SLOTTYPE]=N'CUSTOM' OR [SLOTTYPE]=N'PROJECT' OR [SLOTTYPE]=N'ASSIGNMENT' OR [SLOTTYPE]=N'QUIZ' OR [SLOTTYPE]=N'REVISION' OR [SLOTTYPE]=N'PRACTICE' OR [SLOTTYPE]=N'THEORY'))
GO
ALTER TABLE [dbo].[STUDY_PLAN_SLOT] CHECK CONSTRAINT [CHK_STUDY_PLAN_SLOT_TYPE]
GO
