USE [CREATOR_SERVICE]
GO
/****** Object:  StoredProcedure [dbo].[USP_CATALOG_GET_PLAN_PUBLIC]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CATALOG_GET_PLAN_PUBLIC
-- Public detail view of a published plan (4 result sets).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CATALOG_GET_PLAN_PUBLIC]
(
    @PLANID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @STATUS NVARCHAR(30);
    DECLARE @PLANVERSION INT;

    SELECT @STATUS = PLANSTATUS, @PLANVERSION = CURRENTVERSIONNO
    FROM dbo.STUDY_PLAN
    WHERE PLANID = @PLANID;

    IF @STATUS IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
        RETURN;
    END

    IF @STATUS != 'PUBLISHED'
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan is not published' AS MESSAGE;
        RETURN;
    END

    -- Result set 1: Plan metadata + creator info + rollup stats
    SELECT
        P.PLANID, P.CREATORUSERID, P.TITLE, P.SHORTDESCRIPTION, P.FULLDESCRIPTION,
        P.DURATIONDAYS, P.CATEGORY, P.DIFFICULTY, P.THEMECOLORHEX,
        P.COVERFILEUUID, P.BANNERFILEUUID, P.PLANICONEMOJI,
        P.PLANSTATUS, P.CURRENTVERSIONNO, P.PUBLISHEDAT,
        CP.DISPLAYNAME  AS CREATORDISPLAYNAME,
        CP.AVATARFILEUUID AS CREATORAVATAR,
        CP.PUBLICEMAIL  AS CREATORPUBLICEMAIL,
        R.AVGRATING, R.REVIEWCOUNT, R.ENROLLCOUNT, R.COMPLETIONPERCENT
    FROM dbo.STUDY_PLAN P
    LEFT JOIN dbo.CREATOR_PROFILE CP ON P.CREATORUSERID = CP.USERID
    LEFT JOIN dbo.STUDY_PLAN_CATALOG_ROLLUP R
        ON P.PLANID = R.PLANID AND R.PLANVERSION = P.CURRENTVERSIONNO AND R.ISACTIVE = 1
    WHERE P.PLANID = @PLANID;

    -- Result set 2: Tags
    SELECT TAG
    FROM dbo.STUDY_PLAN_TAG
    WHERE PLANID = @PLANID;

    -- Result set 3: Days for published version
    SELECT
        D.DAYID, D.DAYNUMBER, D.TITLE, D.NOTES
    FROM dbo.STUDY_PLAN_DAY D
    WHERE D.PLANID = @PLANID AND D.PLANVERSION = @PLANVERSION
    ORDER BY D.DAYNUMBER ASC;

    -- Result set 4: Slots for those days
    SELECT
        S.SLOTID, S.DAYID, S.SLOTTYPE, S.TITLE, S.DESCRIPTION,
        S.ESTIMATEDMINUTES, S.SORTORDER, S.TOPICID, S.CONTENTID,
        S.CONTENTFILEUUID, S.EXTERNALURL, S.QUIZJSON
    FROM dbo.STUDY_PLAN_SLOT S
    INNER JOIN dbo.STUDY_PLAN_DAY D ON S.DAYID = D.DAYID
    WHERE D.PLANID = @PLANID AND D.PLANVERSION = @PLANVERSION
    ORDER BY D.DAYNUMBER ASC, S.SORTORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CATALOG_ROLLUP_UPSERT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CATALOG_ROLLUP_UPSERT
-- Upsert catalog rollup stats for a plan version.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CATALOG_ROLLUP_UPSERT]
(
    @PLANID           BIGINT,
    @PLANVERSION      INT,
    @AVGRATING        DECIMAL(3,2) = NULL,
    @REVIEWCOUNT      INT          = NULL,
    @ENROLLCOUNT      INT          = NULL,
    @COMPLETIONPERCENT DECIMAL(5,2) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (
            SELECT 1 FROM dbo.STUDY_PLAN_CATALOG_ROLLUP
            WHERE PLANID = @PLANID AND PLANVERSION = @PLANVERSION
        )
        BEGIN
            UPDATE dbo.STUDY_PLAN_CATALOG_ROLLUP
            SET AVGRATING         = ISNULL(@AVGRATING, AVGRATING),
                REVIEWCOUNT       = ISNULL(@REVIEWCOUNT, REVIEWCOUNT),
                ENROLLCOUNT       = ISNULL(@ENROLLCOUNT, ENROLLCOUNT),
                COMPLETIONPERCENT = ISNULL(@COMPLETIONPERCENT, COMPLETIONPERCENT),
                LASTINDEXEDDATE   = SYSUTCDATETIME()
            WHERE PLANID = @PLANID AND PLANVERSION = @PLANVERSION;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.STUDY_PLAN_CATALOG_ROLLUP
            (PLANID, PLANVERSION, AVGRATING, REVIEWCOUNT, ENROLLCOUNT,
             COMPLETIONPERCENT, ISACTIVE, LASTINDEXEDDATE)
            VALUES
            (@PLANID, @PLANVERSION, @AVGRATING, @REVIEWCOUNT, @ENROLLCOUNT,
             @COMPLETIONPERCENT, 1, SYSUTCDATETIME());
        END

        SELECT 1 AS SUCCESS, 'Rollup upserted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CATALOG_SEARCH]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CATALOG_SEARCH
-- Search published plans with filters, sorting, and pagination.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CATALOG_SEARCH]
(
    @SEARCHTERM NVARCHAR(200) = NULL,
    @TAGS       NVARCHAR(500) = NULL,
    @CATEGORY   NVARCHAR(50)  = NULL,
    @DIFFICULTY NVARCHAR(20)  = NULL,
    @SORTBY     NVARCHAR(20)  = 'RECENT',
    @PAGESIZE   INT           = 20,
    @PAGENUMBER INT           = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = (@PAGENUMBER - 1) * @PAGESIZE;

    -- Materialize tag filter list
    DECLARE @TAGFILTER TABLE (TAG NVARCHAR(100));
    IF @TAGS IS NOT NULL
    BEGIN
        INSERT INTO @TAGFILTER (TAG)
        SELECT TRIM(value) FROM STRING_SPLIT(@TAGS, ',')
        WHERE TRIM(value) != '';
    END

    ;WITH Base AS (
        SELECT
            P.PLANID, P.TITLE, P.SHORTDESCRIPTION, P.CATEGORY,
            P.DIFFICULTY, P.DURATIONDAYS, P.THEMECOLORHEX,
            P.COVERFILEUUID, P.PLANICONEMOJI,
            P.PUBLISHEDAT, P.CREATEDDATE,
            CP.DISPLAYNAME  AS CREATORDISPLAYNAME,
            CP.AVATARFILEUUID AS CREATORAVATAR,
            R.AVGRATING, R.REVIEWCOUNT, R.ENROLLCOUNT, R.COMPLETIONPERCENT
        FROM dbo.STUDY_PLAN P
        LEFT JOIN dbo.CREATOR_PROFILE CP ON P.CREATORUSERID = CP.USERID
        LEFT JOIN dbo.STUDY_PLAN_CATALOG_ROLLUP R
            ON P.PLANID = R.PLANID AND R.PLANVERSION = P.CURRENTVERSIONNO AND R.ISACTIVE = 1
        WHERE P.PLANSTATUS = 'PUBLISHED'
          AND (@SEARCHTERM IS NULL
               OR P.TITLE LIKE '%' + @SEARCHTERM + '%'
               OR P.SHORTDESCRIPTION LIKE '%' + @SEARCHTERM + '%')
          AND (@CATEGORY IS NULL OR P.CATEGORY = @CATEGORY)
          AND (@DIFFICULTY IS NULL OR P.DIFFICULTY = @DIFFICULTY)
          AND (
              @TAGS IS NULL
              OR EXISTS (
                  SELECT 1 FROM dbo.STUDY_PLAN_TAG T
                  WHERE T.PLANID = P.PLANID AND T.TAG IN (SELECT TAG FROM @TAGFILTER)
              )
          )
    )
    SELECT
        COUNT(*) OVER() AS TOTALCOUNT,
        PLANID, TITLE, SHORTDESCRIPTION, CATEGORY,
        DIFFICULTY, DURATIONDAYS, THEMECOLORHEX,
        COVERFILEUUID, PLANICONEMOJI,
        PUBLISHEDAT, CREATEDDATE,
        CREATORDISPLAYNAME, CREATORAVATAR,
        AVGRATING, REVIEWCOUNT, ENROLLCOUNT, COMPLETIONPERCENT
    FROM Base
    ORDER BY
        CASE @SORTBY
            WHEN 'RATING'  THEN AVGRATING
            WHEN 'POPULAR' THEN CAST(ENROLLCOUNT AS DECIMAL(18,2))
            ELSE NULL
        END DESC,
        CASE WHEN @SORTBY = 'RECENT' THEN PUBLISHEDAT END DESC,
        PLANID DESC
    OFFSET @OFFSET ROWS FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_GET_BY_ID]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_GET_BY_ID
-- Return a single application by ID (admin use).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_GET_BY_ID]
(
    @APPLICATIONID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        APPLICATIONID, USERID, STATUS, DISPLAYNAMEPREF, BIODRAFT,
        MOTIVATION, SAMPLEOUTLINE, PORTFOLIOLINKS, AGREEMENTACCEPTED,
        AUTOELIGIBILITYJSON, REVIEWEDBYUSERID, REVIEWEDAT, REVIEWNOTE,
        REJECTIONREASON, SUBMITTEDAT, CREATEDDATE, UPDATEDDATE, ACTIVE
    FROM dbo.CREATOR_APPLICATION
    WHERE APPLICATIONID = @APPLICATIONID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_GET_BY_USER]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_GET_BY_USER
-- Return the latest active application for a user.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_GET_BY_USER]
(
    @USERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        APPLICATIONID, USERID, STATUS, DISPLAYNAMEPREF, BIODRAFT,
        MOTIVATION, SAMPLEOUTLINE, PORTFOLIOLINKS, AGREEMENTACCEPTED,
        AUTOELIGIBILITYJSON, REVIEWEDBYUSERID, REVIEWEDAT, REVIEWNOTE,
        REJECTIONREASON, SUBMITTEDAT, CREATEDDATE, UPDATEDDATE, ACTIVE
    FROM dbo.CREATOR_APPLICATION
    WHERE USERID = @USERID AND ACTIVE = 1
    ORDER BY CREATEDDATE DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_LIST_PENDING]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_LIST_PENDING
-- Paginated list of submitted / under-review applications.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_LIST_PENDING]
(
    @PAGESIZE   INT = 20,
    @PAGENUMBER INT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = (@PAGENUMBER - 1) * @PAGESIZE;

    ;WITH Base AS (
        SELECT
            APPLICATIONID, USERID, STATUS, DISPLAYNAMEPREF, BIODRAFT,
            MOTIVATION, SAMPLEOUTLINE, PORTFOLIOLINKS, AGREEMENTACCEPTED,
            AUTOELIGIBILITYJSON, REVIEWEDBYUSERID, REVIEWEDAT, REVIEWNOTE,
            REJECTIONREASON, SUBMITTEDAT, CREATEDDATE, UPDATEDDATE, ACTIVE
        FROM dbo.CREATOR_APPLICATION
        WHERE STATUS IN ('SUBMITTED', 'UNDER_REVIEW') AND ACTIVE = 1
    )
    SELECT
        COUNT(*) OVER() AS TOTALCOUNT,
        APPLICATIONID, USERID, STATUS, DISPLAYNAMEPREF, BIODRAFT,
        MOTIVATION, SAMPLEOUTLINE, PORTFOLIOLINKS, AGREEMENTACCEPTED,
        AUTOELIGIBILITYJSON, REVIEWEDBYUSERID, REVIEWEDAT, REVIEWNOTE,
        REJECTIONREASON, SUBMITTEDAT, CREATEDDATE, UPDATEDDATE, ACTIVE
    FROM Base
    ORDER BY SUBMITTEDAT ASC
    OFFSET @OFFSET ROWS FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_REVIEW]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_REVIEW
-- Admin action: approve, reject, or request info on application.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_REVIEW]
(
    @APPLICATIONID     BIGINT,
    @ACTION            NVARCHAR(20),
    @REVIEWEDBYUSERID  BIGINT,
    @REVIEWNOTE        NVARCHAR(2000) = NULL,
    @REJECTIONREASON   NVARCHAR(2000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @CURRENTSTATUS NVARCHAR(30);

        SELECT @CURRENTSTATUS = STATUS
        FROM dbo.CREATOR_APPLICATION
        WHERE APPLICATIONID = @APPLICATIONID AND ACTIVE = 1;

        IF @CURRENTSTATUS IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS STATUS, 'Application not found' AS MESSAGE;
            RETURN;
        END

        IF @CURRENTSTATUS NOT IN ('SUBMITTED', 'UNDER_REVIEW')
        BEGIN
            SELECT 0 AS SUCCESS, @CURRENTSTATUS AS STATUS,
                   'Application is not in a reviewable state' AS MESSAGE;
            RETURN;
        END

        IF @ACTION NOT IN ('APPROVE', 'REJECT', 'REQUEST_INFO')
        BEGIN
            SELECT 0 AS SUCCESS, @CURRENTSTATUS AS STATUS,
                   'Invalid action. Use APPROVE, REJECT, or REQUEST_INFO' AS MESSAGE;
            RETURN;
        END

        DECLARE @NEWSTATUS NVARCHAR(30);
        SET @NEWSTATUS = CASE @ACTION
            WHEN 'APPROVE'      THEN 'APPROVED'
            WHEN 'REJECT'       THEN 'REJECTED'
            WHEN 'REQUEST_INFO' THEN 'REQUEST_INFO'
        END;

        UPDATE dbo.CREATOR_APPLICATION
        SET STATUS            = @NEWSTATUS,
            REVIEWEDBYUSERID  = @REVIEWEDBYUSERID,
            REVIEWEDAT        = SYSUTCDATETIME(),
            REVIEWNOTE        = @REVIEWNOTE,
            REJECTIONREASON   = CASE WHEN @ACTION = 'REJECT' THEN @REJECTIONREASON ELSE REJECTIONREASON END,
            UPDATEDDATE       = SYSUTCDATETIME()
        WHERE APPLICATIONID = @APPLICATIONID;

        SELECT 1 AS SUCCESS, @NEWSTATUS AS STATUS, 'Review action applied' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS STATUS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_SAVE_DRAFT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_SAVE_DRAFT
-- Upsert a creator application in DRAFT / REQUEST_INFO state.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_SAVE_DRAFT]
(
    @USERID             BIGINT,
    @DISPLAYNAMEPREF    NVARCHAR(200)  = NULL,
    @BIODRAFT           NVARCHAR(2000) = NULL,
    @MOTIVATION         NVARCHAR(2000) = NULL,
    @SAMPLEOUTLINE      NVARCHAR(MAX)  = NULL,
    @PORTFOLIOLINKS     NVARCHAR(2000) = NULL,
    @AGREEMENTACCEPTED  BIT            = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @APPLICATIONID BIGINT;

        SELECT @APPLICATIONID = APPLICATIONID
        FROM dbo.CREATOR_APPLICATION
        WHERE USERID = @USERID
          AND ACTIVE = 1
          AND STATUS IN ('DRAFT', 'REQUEST_INFO');

        IF @APPLICATIONID IS NOT NULL
        BEGIN
            UPDATE dbo.CREATOR_APPLICATION
            SET DISPLAYNAMEPREF   = @DISPLAYNAMEPREF,
                BIODRAFT          = @BIODRAFT,
                MOTIVATION        = @MOTIVATION,
                SAMPLEOUTLINE     = @SAMPLEOUTLINE,
                PORTFOLIOLINKS    = @PORTFOLIOLINKS,
                AGREEMENTACCEPTED = @AGREEMENTACCEPTED,
                UPDATEDDATE       = SYSUTCDATETIME()
            WHERE APPLICATIONID = @APPLICATIONID;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.CREATOR_APPLICATION
            (
                USERID, STATUS, DISPLAYNAMEPREF, BIODRAFT, MOTIVATION,
                SAMPLEOUTLINE, PORTFOLIOLINKS, AGREEMENTACCEPTED,
                CREATEDDATE, UPDATEDDATE, ACTIVE
            )
            VALUES
            (
                @USERID, 'DRAFT', @DISPLAYNAMEPREF, @BIODRAFT, @MOTIVATION,
                @SAMPLEOUTLINE, @PORTFOLIOLINKS, @AGREEMENTACCEPTED,
                SYSUTCDATETIME(), SYSUTCDATETIME(), 1
            );

            SET @APPLICATIONID = SCOPE_IDENTITY();
        END

        SELECT 1 AS SUCCESS, @APPLICATIONID AS APPLICATIONID, 'Draft saved' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS APPLICATIONID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_APP_SUBMIT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_APP_SUBMIT
-- Submit an existing draft / request-info application.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_APP_SUBMIT]
(
    @USERID                BIGINT,
    @AUTOELIGIBILITYJSON   NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @APPLICATIONID BIGINT;
        DECLARE @AGREED BIT;

        SELECT @APPLICATIONID = APPLICATIONID,
               @AGREED = AGREEMENTACCEPTED
        FROM dbo.CREATOR_APPLICATION
        WHERE USERID = @USERID
          AND ACTIVE = 1
          AND STATUS IN ('DRAFT', 'REQUEST_INFO');

        IF @APPLICATIONID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS APPLICATIONID,
                   'No active draft or request-info application found' AS MESSAGE;
            RETURN;
        END

        IF @AGREED != 1
        BEGIN
            SELECT 0 AS SUCCESS, @APPLICATIONID AS APPLICATIONID,
                   'Agreement must be accepted before submitting' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.CREATOR_APPLICATION
        SET STATUS               = 'SUBMITTED',
            SUBMITTEDAT          = SYSUTCDATETIME(),
            AUTOELIGIBILITYJSON  = @AUTOELIGIBILITYJSON,
            UPDATEDDATE          = SYSUTCDATETIME()
        WHERE APPLICATIONID = @APPLICATIONID;

        SELECT 1 AS SUCCESS, @APPLICATIONID AS APPLICATIONID, 'Application submitted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS APPLICATIONID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_PROFILE_GET_PUBLIC]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_PROFILE_GET_PUBLIC
-- Return public-facing profile (only if ACTIVE).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_PROFILE_GET_PUBLIC]
(
    @USERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        USERID, DISPLAYNAME, BIO, EXPERTISETAGS, PUBLICEMAIL,
        AVATARFILEUUID, COVERFILEUUID, WEBSITEURL, ISVERIFIEDBADGE
    FROM dbo.CREATOR_PROFILE
    WHERE USERID = @USERID
      AND PROFILESTATUS = 'ACTIVE';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_PROFILE_GET_SELF]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_PROFILE_GET_SELF
-- Return full profile for the authenticated creator.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_PROFILE_GET_SELF]
(
    @USERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        USERID, DISPLAYNAME, BIO, EXPERTISETAGS, PUBLICEMAIL,
        AVATARFILEUUID, COVERFILEUUID, WEBSITEURL,
        ISVERIFIEDBADGE, PROFILESTATUS, CREATEDDATE, UPDATEDDATE
    FROM dbo.CREATOR_PROFILE
    WHERE USERID = @USERID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATOR_PROFILE_UPSERT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_CREATOR_PROFILE_UPSERT
-- Insert or update a creator's profile.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_CREATOR_PROFILE_UPSERT]
(
    @USERID          BIGINT,
    @DISPLAYNAME     NVARCHAR(200)  = NULL,
    @BIO             NVARCHAR(2000) = NULL,
    @EXPERTISETAGS   NVARCHAR(1000) = NULL,
    @PUBLICEMAIL     NVARCHAR(200)  = NULL,
    @AVATARFILEUUID  NVARCHAR(100)  = NULL,
    @COVERFILEUUID   NVARCHAR(100)  = NULL,
    @WEBSITEURL      NVARCHAR(500)  = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM dbo.CREATOR_PROFILE WHERE USERID = @USERID)
        BEGIN
            UPDATE dbo.CREATOR_PROFILE
            SET DISPLAYNAME    = @DISPLAYNAME,
                BIO            = @BIO,
                EXPERTISETAGS  = @EXPERTISETAGS,
                PUBLICEMAIL    = @PUBLICEMAIL,
                AVATARFILEUUID = @AVATARFILEUUID,
                COVERFILEUUID  = @COVERFILEUUID,
                WEBSITEURL     = @WEBSITEURL,
                UPDATEDDATE    = SYSUTCDATETIME()
            WHERE USERID = @USERID;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.CREATOR_PROFILE
            (
                USERID, DISPLAYNAME, BIO, EXPERTISETAGS, PUBLICEMAIL,
                AVATARFILEUUID, COVERFILEUUID, WEBSITEURL,
                PROFILESTATUS, CREATEDDATE, UPDATEDDATE
            )
            VALUES
            (
                @USERID, @DISPLAYNAME, @BIO, @EXPERTISETAGS, @PUBLICEMAIL,
                @AVATARFILEUUID, @COVERFILEUUID, @WEBSITEURL,
                'ACTIVE', SYSUTCDATETIME(), SYSUTCDATETIME()
            );
        END

        SELECT 1 AS SUCCESS, 'Profile saved' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_JOB_CREATE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_IMPORT_JOB_CREATE
-- Queue a new import job for a draft plan.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_IMPORT_JOB_CREATE]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT,
    @INPUTFILEUUID NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);

        SELECT @OWNERID = CREATORUSERID, @STATUS = PLANSTATUS
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS JOBID, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS JOBID, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS JOBID, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        DECLARE @JOBID BIGINT;

        INSERT INTO dbo.STUDY_PLAN_IMPORT_JOB
        (PLANID, CREATORUSERID, JOBSTATUS, INPUTFILEUUID, CREATEDDATE)
        VALUES
        (@PLANID, @CREATORUSERID, 'QUEUED', @INPUTFILEUUID, SYSUTCDATETIME());

        SET @JOBID = SCOPE_IDENTITY();

        SELECT 1 AS SUCCESS, @JOBID AS JOBID, 'Import job queued' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS JOBID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_JOB_GET]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_IMPORT_JOB_GET
-- Get a single import job (validate creator ownership via plan).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_IMPORT_JOB_GET]
(
    @JOBID         BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OWNERID BIGINT;

    SELECT @OWNERID = P.CREATORUSERID
    FROM dbo.STUDY_PLAN_IMPORT_JOB J
    INNER JOIN dbo.STUDY_PLAN P ON J.PLANID = P.PLANID
    WHERE J.JOBID = @JOBID;

    IF @OWNERID IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, 'Job not found' AS MESSAGE;
        RETURN;
    END

    IF @OWNERID != @CREATORUSERID
    BEGIN
        SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
        RETURN;
    END

    SELECT
        J.JOBID, J.PLANID, J.CREATORUSERID, J.JOBSTATUS,
        J.INPUTFILEUUID, J.TOTALROWS, J.SUCCESSROWS, J.FAILROWS,
        J.RESULTJSON, J.CREATEDDATE, J.COMPLETEDDATE
    FROM dbo.STUDY_PLAN_IMPORT_JOB J
    WHERE J.JOBID = @JOBID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_JOB_UPDATE_STATUS]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_IMPORT_JOB_UPDATE_STATUS
-- Update job progress / terminal status.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_IMPORT_JOB_UPDATE_STATUS]
(
    @JOBID      BIGINT,
    @JOBSTATUS  NVARCHAR(20),
    @TOTALROWS  INT            = NULL,
    @SUCCESSROWS INT           = NULL,
    @FAILROWS   INT            = NULL,
    @RESULTJSON NVARCHAR(MAX)  = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.STUDY_PLAN_IMPORT_JOB WHERE JOBID = @JOBID)
        BEGIN
            SELECT 0 AS SUCCESS, 'Job not found' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.STUDY_PLAN_IMPORT_JOB
        SET JOBSTATUS     = @JOBSTATUS,
            TOTALROWS     = ISNULL(@TOTALROWS, TOTALROWS),
            SUCCESSROWS   = ISNULL(@SUCCESSROWS, SUCCESSROWS),
            FAILROWS      = ISNULL(@FAILROWS, FAILROWS),
            RESULTJSON    = ISNULL(@RESULTJSON, RESULTJSON),
            COMPLETEDDATE = CASE
                                WHEN @JOBSTATUS IN ('SUCCEEDED', 'FAILED', 'PARTIAL')
                                THEN SYSUTCDATETIME()
                                ELSE COMPLETEDDATE
                            END
        WHERE JOBID = @JOBID;

        SELECT 1 AS SUCCESS, 'Job status updated' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_ROWS_APPLY]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_IMPORT_ROWS_APPLY
-- Bulk-insert days + slots from a nested JSON payload.
-- JSON shape: [{dayNumber, title, notes, slots: [{slotType,
--   title, description, estimatedMinutes, sortOrder, topicId,
--   contentId, contentFileUuid, externalUrl}]}]
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_IMPORT_ROWS_APPLY]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT,
    @ROWSJSON      NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);
        DECLARE @PLANVERSION INT;

        SELECT @OWNERID = CREATORUSERID,
               @STATUS  = PLANSTATUS,
               @PLANVERSION = CURRENTVERSIONNO
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DAYCOUNT, 0 AS SLOTCOUNT, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DAYCOUNT, 0 AS SLOTCOUNT,
                   'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DAYCOUNT, 0 AS SLOTCOUNT,
                   'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        BEGIN TRANSACTION;

        -- Parse days from JSON
        DECLARE @DAYS TABLE (
            ROWINDEX     INT,
            DAYNUMBER    INT,
            TITLE        NVARCHAR(200),
            NOTES        NVARCHAR(MAX)
        );

        INSERT INTO @DAYS (ROWINDEX, DAYNUMBER, TITLE, NOTES)
        SELECT
            CAST(D.[key] AS INT),
            D.DAYNUMBER,
            D.TITLE,
            D.NOTES
        FROM OPENJSON(@ROWSJSON)
        WITH (
            DAYNUMBER INT            '$.dayNumber',
            TITLE     NVARCHAR(200)  '$.title',
            NOTES     NVARCHAR(MAX)  '$.notes',
            [key]     NVARCHAR(10)   '$' -- index key from array
        ) D;

        -- Insert days and capture generated IDs
        DECLARE @DAYMAP TABLE (ROWINDEX INT, DAYID BIGINT);

        DECLARE @IDX INT = 0;
        DECLARE @MAXIDX INT;
        SELECT @MAXIDX = MAX(ROWINDEX) FROM @DAYS;

        WHILE @IDX <= ISNULL(@MAXIDX, -1)
        BEGIN
            DECLARE @DN INT, @DT NVARCHAR(200), @DNOTES NVARCHAR(MAX);
            SELECT @DN = DAYNUMBER, @DT = TITLE, @DNOTES = NOTES
            FROM @DAYS WHERE ROWINDEX = @IDX;

            INSERT INTO dbo.STUDY_PLAN_DAY
            (PLANID, PLANVERSION, DAYNUMBER, TITLE, NOTES, CREATEDDATE, UPDATEDDATE)
            VALUES
            (@PLANID, @PLANVERSION, @DN, @DT, @DNOTES, SYSUTCDATETIME(), SYSUTCDATETIME());

            INSERT INTO @DAYMAP (ROWINDEX, DAYID) VALUES (@IDX, SCOPE_IDENTITY());

            SET @IDX = @IDX + 1;
        END

        -- Parse and insert slots for each day
        DECLARE @SLOTCOUNT INT = 0;

        INSERT INTO dbo.STUDY_PLAN_SLOT
        (
            DAYID, PLANVERSION, SLOTTYPE, TITLE, DESCRIPTION,
            ESTIMATEDMINUTES, SORTORDER, TOPICID, CONTENTID,
            CONTENTFILEUUID, EXTERNALURL, CREATEDDATE, UPDATEDDATE
        )
        SELECT
            DM.DAYID,
            @PLANVERSION,
            SL.SLOTTYPE,
            SL.TITLE,
            SL.DESCRIPTION,
            SL.ESTIMATEDMINUTES,
            SL.SORTORDER,
            SL.TOPICID,
            SL.CONTENTID,
            SL.CONTENTFILEUUID,
            SL.EXTERNALURL,
            SYSUTCDATETIME(),
            SYSUTCDATETIME()
        FROM OPENJSON(@ROWSJSON) WITH ([key] NVARCHAR(10) '$') DAY_OUTER
        CROSS APPLY OPENJSON(@ROWSJSON, '$[' + DAY_OUTER.[key] + '].slots')
        WITH (
            SLOTTYPE        NVARCHAR(20)   '$.slotType',
            TITLE           NVARCHAR(200)  '$.title',
            DESCRIPTION     NVARCHAR(MAX)  '$.description',
            ESTIMATEDMINUTES INT           '$.estimatedMinutes',
            SORTORDER       INT            '$.sortOrder',
            TOPICID         INT            '$.topicId',
            CONTENTID       INT            '$.contentId',
            CONTENTFILEUUID NVARCHAR(100)  '$.contentFileUuid',
            EXTERNALURL     NVARCHAR(2000)  '$.externalUrl'
        ) SL
        INNER JOIN @DAYMAP DM ON DM.ROWINDEX = CAST(DAY_OUTER.[key] AS INT);

        SET @SLOTCOUNT = @@ROWCOUNT;

        DECLARE @DAYCOUNT INT;
        SELECT @DAYCOUNT = COUNT(*) FROM @DAYMAP;

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @DAYCOUNT AS DAYCOUNT, @SLOTCOUNT AS SLOTCOUNT,
               'Import applied' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, 0 AS DAYCOUNT, 0 AS SLOTCOUNT, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PLAN_REPORT_LIST_OPEN]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_PLAN_REPORT_LIST_OPEN
-- Paginated list of open / triaging reports (admin view).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_PLAN_REPORT_LIST_OPEN]
(
    @PAGESIZE   INT = 20,
    @PAGENUMBER INT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = (@PAGENUMBER - 1) * @PAGESIZE;

    ;WITH Base AS (
        SELECT
            R.REPORTID, R.PLANID, P.TITLE AS PLANTITLE,
            R.REPORTEDBYUSERID, R.REASONCODE, R.DETAIL,
            R.REPORTSTATUS, R.CREATEDDATE
        FROM dbo.PLAN_CONTENT_REPORT R
        INNER JOIN dbo.STUDY_PLAN P ON R.PLANID = P.PLANID
        WHERE R.REPORTSTATUS IN ('OPEN', 'TRIAGING')
    )
    SELECT
        COUNT(*) OVER() AS TOTALCOUNT,
        REPORTID, PLANID, PLANTITLE,
        REPORTEDBYUSERID, REASONCODE, DETAIL,
        REPORTSTATUS, CREATEDDATE
    FROM Base
    ORDER BY CREATEDDATE ASC
    OFFSET @OFFSET ROWS FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PLAN_REPORT_RESOLVE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_PLAN_REPORT_RESOLVE
-- Resolve or dismiss an open report (admin action).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_PLAN_REPORT_RESOLVE]
(
    @REPORTID        BIGINT,
    @RESOLVEDBYUSERID BIGINT,
    @NEWSTATUS       NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @NEWSTATUS NOT IN ('RESOLVED', 'DISMISSED')
        BEGIN
            SELECT 0 AS SUCCESS, 'Status must be RESOLVED or DISMISSED' AS MESSAGE;
            RETURN;
        END

        DECLARE @CURRENTSTATUS NVARCHAR(20);

        SELECT @CURRENTSTATUS = REPORTSTATUS
        FROM dbo.PLAN_CONTENT_REPORT
        WHERE REPORTID = @REPORTID;

        IF @CURRENTSTATUS IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 'Report not found' AS MESSAGE;
            RETURN;
        END

        IF @CURRENTSTATUS NOT IN ('OPEN', 'TRIAGING')
        BEGIN
            SELECT 0 AS SUCCESS, 'Report is not in an actionable state' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.PLAN_CONTENT_REPORT
        SET REPORTSTATUS     = @NEWSTATUS,
            RESOLVEDDATE     = SYSUTCDATETIME(),
            RESOLVEDBYUSERID = @RESOLVEDBYUSERID
        WHERE REPORTID = @REPORTID;

        SELECT 1 AS SUCCESS, 'Report ' + LOWER(@NEWSTATUS) AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PLAN_REPORT_SUBMIT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_PLAN_REPORT_SUBMIT
-- Submit a content report against a published plan.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_PLAN_REPORT_SUBMIT]
(
    @PLANID           BIGINT,
    @REPORTEDBYUSERID BIGINT,
    @REASONCODE       NVARCHAR(50),
    @DETAIL           NVARCHAR(2000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @STATUS NVARCHAR(30);

        SELECT @STATUS = PLANSTATUS
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @STATUS IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS REPORTID, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'PUBLISHED'
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS REPORTID, 'Only published plans can be reported' AS MESSAGE;
            RETURN;
        END

        DECLARE @REPORTID BIGINT;

        INSERT INTO dbo.PLAN_CONTENT_REPORT
        (PLANID, REPORTEDBYUSERID, REASONCODE, DETAIL, REPORTSTATUS, CREATEDDATE)
        VALUES
        (@PLANID, @REPORTEDBYUSERID, @REASONCODE, @DETAIL, 'OPEN', SYSUTCDATETIME());

        SET @REPORTID = SCOPE_IDENTITY();

        SELECT 1 AS SUCCESS, @REPORTID AS REPORTID, 'Report submitted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS REPORTID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_ARCHIVE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_ARCHIVE
-- Archive a plan (creator action).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_ARCHIVE]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;

        SELECT @OWNERID = CREATORUSERID
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.STUDY_PLAN
        SET PLANSTATUS = 'ARCHIVED', UPDATEDDATE = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        SELECT 1 AS SUCCESS, 'Plan archived' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_CREATE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_CREATE
-- Create a new study plan in DRAFT status with version 1.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_CREATE]
(
    @CREATORUSERID    BIGINT,
    @TITLE            NVARCHAR(200),
    @SHORTDESCRIPTION NVARCHAR(500)  = NULL,
    @FULLDESCRIPTION  NVARCHAR(MAX)  = NULL,
    @DURATIONDAYS     INT            = NULL,
    @CATEGORY         NVARCHAR(50)   = NULL,
    @DIFFICULTY       NVARCHAR(20)   = NULL,
    @THEMECOLORHEX    NVARCHAR(20)   = NULL,
    @COVERFILEUUID    NVARCHAR(100)  = NULL,
    @BANNERFILEUUID   NVARCHAR(100)  = NULL,
    @PLANICONEMOJI    NVARCHAR(50)   = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @PLANID BIGINT;

        INSERT INTO dbo.STUDY_PLAN
        (
            CREATORUSERID, TITLE, SHORTDESCRIPTION, FULLDESCRIPTION,
            DURATIONDAYS, CATEGORY, DIFFICULTY, THEMECOLORHEX,
            COVERFILEUUID, BANNERFILEUUID, PLANICONEMOJI,
            PLANSTATUS, CURRENTVERSIONNO, CREATEDDATE, UPDATEDDATE
        )
        VALUES
        (
            @CREATORUSERID, @TITLE, @SHORTDESCRIPTION, @FULLDESCRIPTION,
            @DURATIONDAYS, @CATEGORY, @DIFFICULTY, @THEMECOLORHEX,
            @COVERFILEUUID, @BANNERFILEUUID, @PLANICONEMOJI,
            'DRAFT', 1, SYSUTCDATETIME(), SYSUTCDATETIME()
        );

        SET @PLANID = SCOPE_IDENTITY();

        INSERT INTO dbo.STUDY_PLAN_VERSION (PLANID, VERSIONNO, CHANGENOTES, CREATEDDATE)
        VALUES (@PLANID, 1, 'Initial version', SYSUTCDATETIME());

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @PLANID AS PLANID, 'Plan created' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, NULL AS PLANID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_DAY_DELETE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_DAY_DELETE
-- Delete a day and its slots from a draft plan.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_DAY_DELETE]
(
    @DAYID         BIGINT,
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);

        SELECT @OWNERID = CREATORUSERID, @STATUS = PLANSTATUS
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DELETEDSLOTCOUNT, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DELETEDSLOTCOUNT, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DELETEDSLOTCOUNT, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.STUDY_PLAN_DAY WHERE DAYID = @DAYID AND PLANID = @PLANID)
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS DELETEDSLOTCOUNT, 'Day not found in this plan' AS MESSAGE;
            RETURN;
        END

        BEGIN TRANSACTION;

        DECLARE @SLOTCOUNT INT;
        SELECT @SLOTCOUNT = COUNT(*) FROM dbo.STUDY_PLAN_SLOT WHERE DAYID = @DAYID;

        DELETE FROM dbo.STUDY_PLAN_SLOT WHERE DAYID = @DAYID;
        DELETE FROM dbo.STUDY_PLAN_DAY WHERE DAYID = @DAYID AND PLANID = @PLANID;

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @SLOTCOUNT AS DELETEDSLOTCOUNT, 'Day and slots deleted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, 0 AS DELETEDSLOTCOUNT, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_DAY_UPSERT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_DAY_UPSERT
-- Insert or update a day within a draft plan.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_DAY_UPSERT]
(
    @DAYID         BIGINT        = NULL,
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT,
    @DAYNUMBER     INT,
    @TITLE         NVARCHAR(200) = NULL,
    @NOTES         NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);
        DECLARE @PLANVERSION INT;

        SELECT @OWNERID = CREATORUSERID,
               @STATUS  = PLANSTATUS,
               @PLANVERSION = CURRENTVERSIONNO
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS DAYID, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS DAYID, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS DAYID, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        IF @DAYID IS NOT NULL
        BEGIN
            UPDATE dbo.STUDY_PLAN_DAY
            SET DAYNUMBER   = @DAYNUMBER,
                TITLE       = @TITLE,
                NOTES       = @NOTES,
                UPDATEDDATE = SYSUTCDATETIME()
            WHERE DAYID = @DAYID AND PLANID = @PLANID;

            SELECT 1 AS SUCCESS, @DAYID AS DAYID, 'Day updated' AS MESSAGE;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.STUDY_PLAN_DAY
            (PLANID, PLANVERSION, DAYNUMBER, TITLE, NOTES, CREATEDDATE, UPDATEDDATE)
            VALUES
            (@PLANID, @PLANVERSION, @DAYNUMBER, @TITLE, @NOTES, SYSUTCDATETIME(), SYSUTCDATETIME());

            SET @DAYID = SCOPE_IDENTITY();

            SELECT 1 AS SUCCESS, @DAYID AS DAYID, 'Day created' AS MESSAGE;
        END
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS DAYID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_GET_DETAIL]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_GET_DETAIL
-- Return plan metadata + days + slots as 3 result sets.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_GET_DETAIL]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT = NULL,
    @VERSION       INT    = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OWNERID BIGINT;
    DECLARE @EFFECTIVEVERSION INT;

    SELECT @OWNERID = CREATORUSERID,
           @EFFECTIVEVERSION = CURRENTVERSIONNO
    FROM dbo.STUDY_PLAN
    WHERE PLANID = @PLANID;

    IF @OWNERID IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
        RETURN;
    END

    IF @CREATORUSERID IS NOT NULL AND @OWNERID != @CREATORUSERID
    BEGIN
        SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
        RETURN;
    END

    IF @VERSION IS NOT NULL
        SET @EFFECTIVEVERSION = @VERSION;

    -- Result set 1: Plan metadata
    SELECT
        P.PLANID, P.CREATORUSERID, P.TITLE, P.SHORTDESCRIPTION,
        P.FULLDESCRIPTION, P.DURATIONDAYS, P.CATEGORY, P.DIFFICULTY,
        P.THEMECOLORHEX, P.COVERFILEUUID, P.BANNERFILEUUID,
        P.PLANICONEMOJI, P.PLANSTATUS, P.CURRENTVERSIONNO,
        P.PUBLISHEDAT, P.CREATEDDATE, P.UPDATEDDATE
    FROM dbo.STUDY_PLAN P
    WHERE P.PLANID = @PLANID;

    -- Result set 2: Days for the requested version
    SELECT
        D.DAYID, D.PLANID, D.PLANVERSION, D.DAYNUMBER,
        D.TITLE, D.NOTES, D.CREATEDDATE, D.UPDATEDDATE
    FROM dbo.STUDY_PLAN_DAY D
    WHERE D.PLANID = @PLANID
      AND D.PLANVERSION = @EFFECTIVEVERSION
    ORDER BY D.DAYNUMBER ASC;

    -- Result set 3: Slots for those days
    SELECT
        S.SLOTID, S.DAYID, S.PLANVERSION, S.SLOTTYPE, S.TITLE,
        S.DESCRIPTION, S.ESTIMATEDMINUTES, S.SORTORDER,
        S.TOPICID, S.CONTENTID, S.CONTENTFILEUUID,
        S.EXTERNALURL, S.QUIZJSON, S.CREATEDDATE, S.UPDATEDDATE
    FROM dbo.STUDY_PLAN_SLOT S
    INNER JOIN dbo.STUDY_PLAN_DAY D ON S.DAYID = D.DAYID
    WHERE D.PLANID = @PLANID
      AND D.PLANVERSION = @EFFECTIVEVERSION
    ORDER BY D.DAYNUMBER ASC, S.SORTORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_LIST_BY_CREATOR]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_LIST_BY_CREATOR
-- List all plans for a creator with aggregate day/slot counts.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_LIST_BY_CREATOR]
(
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.PLANID, P.TITLE, P.SHORTDESCRIPTION, P.CATEGORY,
        P.DIFFICULTY, P.PLANSTATUS, P.CURRENTVERSIONNO,
        P.DURATIONDAYS, P.PLANICONEMOJI, P.THEMECOLORHEX,
        P.PUBLISHEDAT, P.CREATEDDATE, P.UPDATEDDATE,
        ISNULL(DC.DAYCOUNT, 0)  AS DAYCOUNT,
        ISNULL(SC.SLOTCOUNT, 0) AS SLOTCOUNT
    FROM dbo.STUDY_PLAN P
    OUTER APPLY (
        SELECT COUNT(*) AS DAYCOUNT
        FROM dbo.STUDY_PLAN_DAY D
        WHERE D.PLANID = P.PLANID AND D.PLANVERSION = P.CURRENTVERSIONNO
    ) DC
    OUTER APPLY (
        SELECT COUNT(*) AS SLOTCOUNT
        FROM dbo.STUDY_PLAN_SLOT S
        INNER JOIN dbo.STUDY_PLAN_DAY D2 ON S.DAYID = D2.DAYID
        WHERE D2.PLANID = P.PLANID AND D2.PLANVERSION = P.CURRENTVERSIONNO
    ) SC
    WHERE P.CREATORUSERID = @CREATORUSERID
    ORDER BY P.CREATEDDATE DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_PUBLISH_COMMIT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_PUBLISH_COMMIT
-- Set plan to PUBLISHED and record publish timestamp on version.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_PUBLISH_COMMIT]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @PLANVERSION INT;

        SELECT @OWNERID = CREATORUSERID,
               @PLANVERSION = CURRENTVERSIONNO
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS PLANID, NULL AS VERSIONNO, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS PLANID, NULL AS VERSIONNO,
                   'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        BEGIN TRANSACTION;

        UPDATE dbo.STUDY_PLAN
        SET PLANSTATUS  = 'PUBLISHED',
            PUBLISHEDAT = SYSUTCDATETIME(),
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        IF EXISTS (
            SELECT 1 FROM dbo.STUDY_PLAN_VERSION
            WHERE PLANID = @PLANID AND VERSIONNO = @PLANVERSION
        )
        BEGIN
            UPDATE dbo.STUDY_PLAN_VERSION
            SET PUBLISHEDAT = SYSUTCDATETIME()
            WHERE PLANID = @PLANID AND VERSIONNO = @PLANVERSION;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.STUDY_PLAN_VERSION (PLANID, VERSIONNO, PUBLISHEDAT, CREATEDDATE)
            VALUES (@PLANID, @PLANVERSION, SYSUTCDATETIME(), SYSUTCDATETIME());
        END

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @PLANID AS PLANID, @PLANVERSION AS VERSIONNO,
               'Plan published' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, NULL AS PLANID, NULL AS VERSIONNO, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_PUBLISH_VALIDATE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_PUBLISH_VALIDATE
-- Pre-publish validation: days exist, every day has slots,
-- DURATIONDAYS matches actual day count.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_PUBLISH_VALIDATE]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OWNERID BIGINT;
    DECLARE @STATUS  NVARCHAR(30);
    DECLARE @PLANVERSION INT;
    DECLARE @DURATIONDAYS INT;

    SELECT @OWNERID = CREATORUSERID,
           @STATUS  = PLANSTATUS,
           @PLANVERSION = CURRENTVERSIONNO,
           @DURATIONDAYS = DURATIONDAYS
    FROM dbo.STUDY_PLAN
    WHERE PLANID = @PLANID;

    IF @OWNERID IS NULL
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
        RETURN;
    END

    IF @OWNERID != @CREATORUSERID
    BEGIN
        SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
        RETURN;
    END

    IF @STATUS NOT IN ('DRAFT', 'READY_FOR_REVIEW')
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan must be in DRAFT or READY_FOR_REVIEW status' AS MESSAGE;
        RETURN;
    END

    -- Check at least 1 day exists
    DECLARE @DAYCOUNT INT;
    SELECT @DAYCOUNT = COUNT(*)
    FROM dbo.STUDY_PLAN_DAY
    WHERE PLANID = @PLANID AND PLANVERSION = @PLANVERSION;

    IF @DAYCOUNT = 0
    BEGIN
        SELECT 0 AS SUCCESS, 'Plan has 0 days' AS MESSAGE;
        RETURN;
    END

    -- Check every day has at least 1 slot
    DECLARE @EMPTYDAY INT;
    DECLARE @EMPTYDAYNUMBER INT;

    SELECT TOP 1 @EMPTYDAY = D.DAYID, @EMPTYDAYNUMBER = D.DAYNUMBER
    FROM dbo.STUDY_PLAN_DAY D
    LEFT JOIN dbo.STUDY_PLAN_SLOT S ON D.DAYID = S.DAYID
    WHERE D.PLANID = @PLANID AND D.PLANVERSION = @PLANVERSION
    GROUP BY D.DAYID, D.DAYNUMBER
    HAVING COUNT(S.SLOTID) = 0
    ORDER BY D.DAYNUMBER ASC;

    IF @EMPTYDAY IS NOT NULL
    BEGIN
        SELECT 0 AS SUCCESS,
               'Day ' + CAST(@EMPTYDAYNUMBER AS NVARCHAR(10)) + ' has no slots' AS MESSAGE;
        RETURN;
    END

    -- Check DURATIONDAYS matches actual day count
    IF @DURATIONDAYS IS NOT NULL AND @DURATIONDAYS != @DAYCOUNT
    BEGIN
        SELECT 0 AS SUCCESS,
               'DURATIONDAYS (' + CAST(@DURATIONDAYS AS NVARCHAR(10))
               + ') does not match actual day count ('
               + CAST(@DAYCOUNT AS NVARCHAR(10)) + ')' AS MESSAGE;
        RETURN;
    END

    SELECT 1 AS SUCCESS, 'Validation passed' AS MESSAGE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_SLOT_DELETE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_SLOT_DELETE
-- Delete a single slot from a draft plan.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_SLOT_DELETE]
(
    @SLOTID        BIGINT,
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);

        SELECT @OWNERID = P.CREATORUSERID, @STATUS = P.PLANSTATUS
        FROM dbo.STUDY_PLAN_SLOT S
        INNER JOIN dbo.STUDY_PLAN_DAY D ON S.DAYID = D.DAYID
        INNER JOIN dbo.STUDY_PLAN P ON D.PLANID = P.PLANID
        WHERE S.SLOTID = @SLOTID AND D.PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 'Slot not found in this plan' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        DELETE FROM dbo.STUDY_PLAN_SLOT WHERE SLOTID = @SLOTID;

        SELECT 1 AS SUCCESS, 'Slot deleted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_SLOT_REORDER]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_SLOT_REORDER
-- Bulk-update slot sort orders from a JSON array.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_SLOT_REORDER]
(
    @DAYID           BIGINT,
    @PLANID          BIGINT,
    @CREATORUSERID   BIGINT,
    @SLOTORDERSJSON  NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);

        SELECT @OWNERID = CREATORUSERID, @STATUS = PLANSTATUS
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS UPDATEDCOUNT, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS UPDATEDCOUNT, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS UPDATEDCOUNT, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        BEGIN TRANSACTION;

        UPDATE S
        SET S.SORTORDER   = J.SORTORDER,
            S.UPDATEDDATE = SYSUTCDATETIME()
        FROM dbo.STUDY_PLAN_SLOT S
        INNER JOIN OPENJSON(@SLOTORDERSJSON)
            WITH (
                SLOTID    BIGINT  '$.slotId',
                SORTORDER INT     '$.sortOrder'
            ) J ON S.SLOTID = J.SLOTID
        WHERE S.DAYID = @DAYID;

        DECLARE @UPDATEDCOUNT INT = @@ROWCOUNT;

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @UPDATEDCOUNT AS UPDATEDCOUNT, 'Slot order updated' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, 0 AS UPDATEDCOUNT, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_SLOT_UPSERT]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_SLOT_UPSERT
-- Insert or update a slot within a draft plan day.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_SLOT_UPSERT]
(
    @SLOTID          BIGINT         = NULL,
    @DAYID           BIGINT,
    @PLANID          BIGINT,
    @CREATORUSERID   BIGINT,
    @SLOTTYPE        NVARCHAR(20),
    @TITLE           NVARCHAR(200),
    @DESCRIPTION     NVARCHAR(MAX)  = NULL,
    @ESTIMATEDMINUTES INT           = NULL,
    @SORTORDER       INT            = 0,
    @TOPICID         INT            = NULL,
    @CONTENTID       INT            = NULL,
    @CONTENTFILEUUID NVARCHAR(100)  = NULL,
    @EXTERNALURL     NVARCHAR(2000)  = NULL,
    @QUIZJSON        NVARCHAR(MAX)  = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);
        DECLARE @PLANVERSION INT;

        SELECT @OWNERID = CREATORUSERID,
               @STATUS  = PLANSTATUS,
               @PLANVERSION = CURRENTVERSIONNO
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS SLOTID, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS SLOTID, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS SLOTID, 'Plan must be in DRAFT status' AS MESSAGE;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.STUDY_PLAN_DAY WHERE DAYID = @DAYID AND PLANID = @PLANID)
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS SLOTID, 'Day not found in this plan' AS MESSAGE;
            RETURN;
        END

        IF @SLOTID IS NOT NULL
        BEGIN
            UPDATE dbo.STUDY_PLAN_SLOT
            SET SLOTTYPE        = @SLOTTYPE,
                TITLE           = @TITLE,
                DESCRIPTION     = @DESCRIPTION,
                ESTIMATEDMINUTES = @ESTIMATEDMINUTES,
                SORTORDER       = @SORTORDER,
                TOPICID         = @TOPICID,
                CONTENTID       = @CONTENTID,
                CONTENTFILEUUID = @CONTENTFILEUUID,
                EXTERNALURL     = @EXTERNALURL,
                QUIZJSON        = @QUIZJSON,
                UPDATEDDATE     = SYSUTCDATETIME()
            WHERE SLOTID = @SLOTID AND DAYID = @DAYID;

            SELECT 1 AS SUCCESS, @SLOTID AS SLOTID, 'Slot updated' AS MESSAGE;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.STUDY_PLAN_SLOT
            (
                DAYID, PLANVERSION, SLOTTYPE, TITLE, DESCRIPTION,
                ESTIMATEDMINUTES, SORTORDER, TOPICID, CONTENTID,
                CONTENTFILEUUID, EXTERNALURL, QUIZJSON,
                CREATEDDATE, UPDATEDDATE
            )
            VALUES
            (
                @DAYID, @PLANVERSION, @SLOTTYPE, @TITLE, @DESCRIPTION,
                @ESTIMATEDMINUTES, @SORTORDER, @TOPICID, @CONTENTID,
                @CONTENTFILEUUID, @EXTERNALURL, @QUIZJSON,
                SYSUTCDATETIME(), SYSUTCDATETIME()
            );

            SET @SLOTID = SCOPE_IDENTITY();

            SELECT 1 AS SUCCESS, @SLOTID AS SLOTID, 'Slot created' AS MESSAGE;
        END
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, NULL AS SLOTID, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_SUSPEND]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_SUSPEND
-- Suspend a plan (admin action, no creator check).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_SUSPEND]
(
    @PLANID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.STUDY_PLAN WHERE PLANID = @PLANID)
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.STUDY_PLAN
        SET PLANSTATUS = 'SUSPENDED', UPDATEDDATE = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        SELECT 1 AS SUCCESS, 'Plan suspended' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_TAGS_REPLACE]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_TAGS_REPLACE
-- Replace all tags for a plan from a JSON array of strings.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_TAGS_REPLACE]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT,
    @TAGSJSON      NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;

        SELECT @OWNERID = CREATORUSERID
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS TAGCOUNT, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 0 AS TAGCOUNT, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        BEGIN TRANSACTION;

        DELETE FROM dbo.STUDY_PLAN_TAG WHERE PLANID = @PLANID;

        INSERT INTO dbo.STUDY_PLAN_TAG (PLANID, TAG)
        SELECT @PLANID, TRIM(J.[value])
        FROM OPENJSON(@TAGSJSON) J
        WHERE TRIM(J.[value]) != '';

        DECLARE @TAGCOUNT INT = @@ROWCOUNT;

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @TAGCOUNT AS TAGCOUNT, 'Tags replaced' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, 0 AS TAGCOUNT, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_UNLIST]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_UNLIST
-- Unlist a plan (creator action).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_UNLIST]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;

        SELECT @OWNERID = CREATORUSERID
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.STUDY_PLAN
        SET PLANSTATUS = 'UNLISTED', UPDATEDDATE = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        SELECT 1 AS SUCCESS, 'Plan unlisted' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_UPDATE_METADATA]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_UPDATE_METADATA
-- Update plan metadata (owner + draft status required).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_UPDATE_METADATA]
(
    @PLANID           BIGINT,
    @CREATORUSERID    BIGINT,
    @TITLE            NVARCHAR(200)  = NULL,
    @SHORTDESCRIPTION NVARCHAR(500)  = NULL,
    @FULLDESCRIPTION  NVARCHAR(MAX)  = NULL,
    @DURATIONDAYS     INT            = NULL,
    @CATEGORY         NVARCHAR(50)   = NULL,
    @DIFFICULTY       NVARCHAR(20)   = NULL,
    @THEMECOLORHEX    NVARCHAR(20)   = NULL,
    @COVERFILEUUID    NVARCHAR(100)  = NULL,
    @BANNERFILEUUID   NVARCHAR(100)  = NULL,
    @PLANICONEMOJI    NVARCHAR(50)   = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS NVARCHAR(30);

        SELECT @OWNERID = CREATORUSERID, @STATUS = PLANSTATUS
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'DRAFT'
        BEGIN
            SELECT 0 AS SUCCESS, 'Plan must be in DRAFT status to edit metadata' AS MESSAGE;
            RETURN;
        END

        UPDATE dbo.STUDY_PLAN
        SET TITLE             = COALESCE(@TITLE, TITLE),
            SHORTDESCRIPTION  = COALESCE(@SHORTDESCRIPTION, SHORTDESCRIPTION),
            FULLDESCRIPTION   = COALESCE(@FULLDESCRIPTION, FULLDESCRIPTION),
            DURATIONDAYS      = COALESCE(@DURATIONDAYS, DURATIONDAYS),
            CATEGORY          = COALESCE(@CATEGORY, CATEGORY),
            DIFFICULTY        = COALESCE(@DIFFICULTY, DIFFICULTY),
            THEMECOLORHEX     = COALESCE(@THEMECOLORHEX, THEMECOLORHEX),
            COVERFILEUUID     = COALESCE(@COVERFILEUUID, COVERFILEUUID),
            BANNERFILEUUID    = COALESCE(@BANNERFILEUUID, BANNERFILEUUID),
            PLANICONEMOJI     = COALESCE(@PLANICONEMOJI, PLANICONEMOJI),
            UPDATEDDATE       = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        SELECT 1 AS SUCCESS, 'Plan metadata updated' AS MESSAGE;
    END TRY
    BEGIN CATCH
        SELECT 0 AS SUCCESS, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STUDY_PLAN_VERSION_COPY]    Script Date: 17-07-2026 13:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_STUDY_PLAN_VERSION_COPY
-- Create a new draft version by copying days + slots from the
-- current published version.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_STUDY_PLAN_VERSION_COPY]
(
    @PLANID        BIGINT,
    @CREATORUSERID BIGINT,
    @CHANGENOTES   NVARCHAR(2000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @OWNERID BIGINT;
        DECLARE @STATUS  NVARCHAR(30);
        DECLARE @OLDVERSION INT;
        DECLARE @NEWVERSION INT;

        SELECT @OWNERID = CREATORUSERID,
               @STATUS  = PLANSTATUS,
               @OLDVERSION = CURRENTVERSIONNO
        FROM dbo.STUDY_PLAN
        WHERE PLANID = @PLANID;

        IF @OWNERID IS NULL
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS VERSIONNO, 'Plan not found' AS MESSAGE;
            RETURN;
        END

        IF @OWNERID != @CREATORUSERID
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS VERSIONNO, 'You do not own this plan' AS MESSAGE;
            RETURN;
        END

        IF @STATUS != 'PUBLISHED'
        BEGIN
            SELECT 0 AS SUCCESS, NULL AS VERSIONNO,
                   'Plan must be PUBLISHED to create a new version' AS MESSAGE;
            RETURN;
        END

        SET @NEWVERSION = @OLDVERSION + 1;

        BEGIN TRANSACTION;

        -- Update plan to new draft version
        UPDATE dbo.STUDY_PLAN
        SET CURRENTVERSIONNO = @NEWVERSION,
            PLANSTATUS       = 'DRAFT',
            UPDATEDDATE      = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        -- Create version record
        INSERT INTO dbo.STUDY_PLAN_VERSION (PLANID, VERSIONNO, CHANGENOTES, CREATEDDATE)
        VALUES (@PLANID, @NEWVERSION, @CHANGENOTES, SYSUTCDATETIME());

        -- Copy days: use a mapping table to link old DAYID → new DAYID
        DECLARE @DAYMAP TABLE (OLDDAYID BIGINT, NEWDAYID BIGINT);

        MERGE INTO dbo.STUDY_PLAN_DAY AS TARGET
        USING (
            SELECT DAYID, PLANID, DAYNUMBER, TITLE, NOTES
            FROM dbo.STUDY_PLAN_DAY
            WHERE PLANID = @PLANID AND PLANVERSION = @OLDVERSION
        ) AS SOURCE
        ON 1 = 0  -- always insert
        WHEN NOT MATCHED THEN
            INSERT (PLANID, PLANVERSION, DAYNUMBER, TITLE, NOTES, CREATEDDATE, UPDATEDDATE)
            VALUES (SOURCE.PLANID, @NEWVERSION, SOURCE.DAYNUMBER, SOURCE.TITLE, SOURCE.NOTES,
                    SYSUTCDATETIME(), SYSUTCDATETIME())
        OUTPUT SOURCE.DAYID, INSERTED.DAYID INTO @DAYMAP (OLDDAYID, NEWDAYID);

        -- Copy slots using the day mapping
        INSERT INTO dbo.STUDY_PLAN_SLOT
        (
            DAYID, PLANVERSION, SLOTTYPE, TITLE, DESCRIPTION,
            ESTIMATEDMINUTES, SORTORDER, TOPICID, CONTENTID,
            CONTENTFILEUUID, EXTERNALURL, QUIZJSON,
            CREATEDDATE, UPDATEDDATE
        )
        SELECT
            DM.NEWDAYID, @NEWVERSION, S.SLOTTYPE, S.TITLE, S.DESCRIPTION,
            S.ESTIMATEDMINUTES, S.SORTORDER, S.TOPICID, S.CONTENTID,
            S.CONTENTFILEUUID, S.EXTERNALURL, S.QUIZJSON,
            SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM dbo.STUDY_PLAN_SLOT S
        INNER JOIN @DAYMAP DM ON S.DAYID = DM.OLDDAYID;

        COMMIT TRANSACTION;

        SELECT 1 AS SUCCESS, @NEWVERSION AS VERSIONNO, 'New version created from published' AS MESSAGE;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS SUCCESS, NULL AS VERSIONNO, ERROR_MESSAGE() AS MESSAGE;
    END CATCH
END
GO
